body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 600px;
}

h1 {
    text-align: center;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

textarea {
    height: 100px;
}

#output {
    height: 200px;
    background: #020617;
    color: #22c55e;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
